/* @font-face {
  font-family: AvocadoReg;
  src: url(fonts/edmondsans-regular.otf);
}

@font-face {
  font-family: AvocadoMed;
  src: url(fonts/edmondsans-medium.otf);
}

@font-face {
  font-family: AvocadoBold;
  src: url(fonts/edmondsans-bold.otf);
} */

@import url("https://fonts.googleapis.com/css?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

body {
  margin: 0;
  padding: 0;
  /* background-color: red; */

  font-family: "Playfair Display", serif;
  /* font-family: AvocadoReg; */
  background: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  /* float: right; */
  /* text-align: right; */
}

nav {
  background-color: transparent;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 5rem;
  margin: 0;
  font-family: "Yeseva One", cursive;
}

ul li {
  /* text-decoration: none; */
  list-style: none;
  padding: 0 10px;
  font-size: 1.5em;
}

.hero-text {
  padding-top: 100px;
  margin: 0;
  font-size: 40px;
  /* font-family: "Yeseva One", cursive; */
}

.hero-section {
  background-image: url("img/avo-small.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  text-align: center;
}

.what-comes-with {
  height: 300px;
  text-align: center;
  color: black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-comes-with h1 {
  margin: 0;
  padding: 1em 0;
}

.avo-img {
  width: 500px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/fork.jpg");
  background-size: cover;
  /* border-radius: 10px; */
  box-shadow: 0px 5px 10px #888888;
}

.what-comes-with {
  padding: 30px 60px;
}

.what-comes-with h2 {
  font-size: 3rem;
  font-family: "Yeseva One", cursive;
  color: #dcb861;
}

.fork-text {
  /* width: 35%; */
  margin-left: 50px;
  text-align: left;
}

img {
  height: 200px;
}

.purchase {
  text-align: center;
}

.row {
  display: flex;
  margin: 50px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people {
  display: flex;
  justify-content: center;
}

.people-imgs {
  margin: 10px;
  width: 200px;
  height: 200px;
  /* background-color: aqua; */
  /* background-image: url("img/avo.jpeg"); */
  /* align-self: center; */
  border-radius: 50%;
  background-size: cover;
  /* height: 100px; */
}

.people1 {
  background-image: url(img/people1.jpg);
  background-position: center;
  box-shadow: 0px 5px 10px #888888;
}

.people2 {
  background-image: url(img/people2.jpg);
  background-position: center;
  box-shadow: 0px 5px 10px #888888;
}

.people3 {
  background-image: url(img/people3.jpg);
  background-position: center;
  box-shadow: 0px 5px 10px #888888;
}

.testimonials-section {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 100px 0;
}

.testimonial {
  background: white;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 20px;
  border-radius: 20px;
}

.testimonials-section h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "Yeseva One", cursive;
}

.purchase {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 70px 0;
}
.container-locations {
  text-align: left;
  color: black;
  font-size: 25px;
}

.container-locations h2 {
  color: #dcb861;
  font-family: "Yeseva One", cursive;
  font-size: 40px;
}

.footer {
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding: 100px 0;
}

.footer .end {
  font-family: "Yeseva One", cursive;
}

.end-links {
  font-size: 10px;
}
